<div class="">
    <div class="page-header-main headerBackground">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-auto col-sm-auto">
                <div class="content-header">
                    <h1>Interaction Logs</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="" *ngIf="logsList.length">
            <div class="" *ngFor="let list of logsList">
                <p>{{list}}</p>
            </div>

        </div>
        <div class="noNotes" *ngIf="!logsList.length && !isLoading">
            <span>No Log found</span>
        </div>
    </div>
</div>