<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>Email-Inbox</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="loading-shade" *ngIf="isLoading" >
    <mat-spinner></mat-spinner>
  </div>
    <div class="col-md-12" *ngFor="let data of inboxList"  >
        <div class="d-flex emaildiv">
            <div class="checkBox-section">
                <mat-checkbox (change)="checkEnable($event)" color="primary" class="email-check">
                </mat-checkbox>
            </div>
            <div class="mailNameSection overflowEllipsis">
                <span>
                    {{data?.mailFromName}}
                </span>
            </div>
            <div class="mailMessageSection overflowEllipsis" routerLink="inbox-detail/{{data?.id}}" >
                <span>
                    {{data?.mailMessage}}
                </span>
            </div>

            <div class="deleteIconDiv ml-4">
                <mat-icon class="deleteIcon" (click)="deleteMail(data)" >delete</mat-icon>
            </div>

        </div>
    </div>

    <div class="col-md-12 mt-3" *ngIf="inboxList?.length">
        <mat-paginator [length]="totalCount" [pageSize]="PageSize"
                        [pageSizeOptions]="[10,20,30]" (page)="onPageChange($event)">
                    </mat-paginator>
    </div>
    <div class="noDataDiv w-100" *ngIf="!isLoading && !inboxList.length" >
        No data found
    </div>
</div>