<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>Contacts</h1>
            </div>
        </div>
        <div class="col-md-auto col-sm-auto col-auto">
            <button *hasClaim="'CNT_ADD_CONTACT'" class="btn blue-btn btn-sm m-right-10"
                [routerLink]="['/customer/addItem']">
                <i class="fas fa-plus"></i> Add Contact
            </button>
        </div>
    </div>
</div>
<div class="loading-shade" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>
<div class="mb-3">
    <div class="searchDiv my-3">
        <div class="row">
            <div class="col-12">
                <div class="headerBackground content-header py-2 px-2 mb-3">
                    <h1>Searching Filter</h1>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <mat-label for="search">Search</mat-label>
                    <input (keyup.enter)="searchList()" type="text" [(ngModel)]="search"
                        placeholder="search by id, name, mobile, email" class="form-control" id="search">
                </div>
            </div>

            <div class="col-md-5">
                <div class="d-flex justify-content-end">
                    <button type="button" (click)="searchList()" class="btn btn-success btn-md mx-2 button-margin"><i
                            class="fas fa-save"></i>
                        Search</button>
                    <button type="button" (click)="onClear();" class="btn btn-danger btn-md button-margin"><i
                            class="fas fa-times-circle"></i>
                        Clear </button>
                    <button type="button" (click)="dowanloadList()" class="btn btn-warning btn-md button-margin ml-2"><i
                            class="fas fa-download"></i>
                        <!-- {{'DOWNLOAD_REPORT' | translate}} -->
                        Download Contact
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>Contact List</h1>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table [dir]="langDir" mat-table [dataSource]="dataSource" *ngIf="!searchListDetail.length" matSort multiTemplateDataRows
        matSortActive="customerName" class="table grid_table table-bordered table-hover">
        <ng-container matColumnDef="action">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef>Action
            </th>
            <td class="table-column-150" mat-cell *matCellDef="let element">
                <!-- <button *hasClaim="['CNT_UPDATE_CONTACT']" (click)="editCustomer(element.id)"
                    class="btn btn-success btn-sm m-right-10" type="button">
                    <i class="las la-pen"></i>
                    {{'EDIT' | translate}}
                </button>
                <button *hasClaim="'CNT_DELETE_CONTACT'" class="btn btn-danger btn-sm" type="button"
                    (click)="deleteCustomer(element)">
                    <i class="las la-trash"></i>
                    {{'DELETE' | translate}}
                </button> -->
                <mat-icon class="interButtonIcons" *hasClaim="'CNT_UPDATE_CONTACT'"
                    (click)="editCustomer(element.id)">edit</mat-icon>
                <mat-icon class="interButtonIcons" *hasClaim="'CNT_DELETE_CONTACT'"
                    (click)="deleteCustomer(element)">delete</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="customerName">
            <th class="table-column-250" mat-header-cell *matHeaderCellDef mat-sort-header> {{'NAME' | translate}}
            </th>
            <td class="table-column-250" mat-cell *matCellDef="let row"> {{row?.name}} {{row?.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="noofinteractions">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header> No. of Interactions
            </th>
            <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.noOfInteraction}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th class="table-column-250" mat-header-cell *matHeaderCellDef mat-sort-header> {{'EMAIL' | translate}}
            </th>
            <td class="table-column-250" mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.emailId">
                    <a href="mailto:{{row.email}}">{{row.emailId}}</a>
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="mobileNo">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header> {{'MOBILE' |
                translate}}
            </th>
            <td class="table-column-150" mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
        </ng-container>
        <ng-container matColumnDef="contactid">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Contact Id
            </th>
            <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.transactionNumber}} </td>
        </ng-container>



        <ng-container matColumnDef="action-search" sticky>
            <th class="table-column-50" class="pr-5" mat-header-cell *matHeaderCellDef> </th>
        </ng-container>
        <ng-container matColumnDef="customerName-search" sticky>
            <th class="table-column-300" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="NameFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="contactPerson-search">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="ContactFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="email-search">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="EmailFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="mobileNo-search">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="MobileOrPhoneFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="website-search">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="WebsiteFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="footer">
            <td mat-footer-cell colspan="8" *matFooterCellDef>
                <mat-paginator [length]="customerResource.totalCount" [pageSize]="customerResource.pageSize"
                    [pageSizeOptions]="[10,20, 30,50]">
                </mat-paginator>
            </td>
        </ng-container>
        <tr *matNoDataRow>
            <td colspan="9">
                <span class="p-4 mt-4">
                    <b> {{'NO_DATA_FOUND' | translate}}</b>
                </span>
            </td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <tr mat-header-row
            *matHeaderRowDef="['action-search','customerName-search','contactPerson-search', 'email-search','mobileNo-search','website-search'];sticky: true"
            class="example-second-header-row"> </tr> -->
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay;sticky: true"></tr>
    </table>
    <table [dir]="langDir" mat-table [dataSource]="searchListDetail" *ngIf="searchListDetail.length" matSort multiTemplateDataRows
        matSortActive="customerName" class="table table-bordered table_height table-hover">
        <ng-container matColumnDef="action">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef>Action
            </th>
            <td class="table-column-150" mat-cell *matCellDef="let element">
                <mat-icon class="interButtonIcons" *hasClaim="'CNT_UPDATE_CONTACT'"
                    (click)="editCustomer(element.id)">edit</mat-icon>
                <mat-icon class="interButtonIcons" *hasClaim="'CNT_DELETE_CONTACT'"
                    (click)="deleteCustomer(element)">delete</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="customerName">
            <th class="table-column-250" mat-header-cell *matHeaderCellDef mat-sort-header> {{'NAME' | translate}}
            </th>
            <td class="table-column-250" mat-cell *matCellDef="let row"> {{row?.name}} {{row?.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="noofinteractions">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header> No. of Interactions
            </th>
            <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.noOfInteraction}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th class="table-column-250" mat-header-cell *matHeaderCellDef mat-sort-header> {{'EMAIL' | translate}}
            </th>
            <td class="table-column-250" mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.emailId">
                    <a href="mailto:{{row.email}}">{{row.emailId}}</a>
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="mobileNo">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header> {{'MOBILE' |
                translate}}
            </th>
            <td class="table-column-150" mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
        </ng-container>
        <ng-container matColumnDef="contactid">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Contact Id
            </th>
            <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.transactionNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="oldContactId">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Old Contact ID</th>
            <td class="table-column-200" mat-cell *matCellDef="let row"> {{row?.oldContactId}} </td>
        </ng-container>



        <ng-container matColumnDef="action-search" sticky>
            <th class="table-column-50" class="pr-5" mat-header-cell *matHeaderCellDef> </th>
        </ng-container>
        <ng-container matColumnDef="customerName-search" sticky>
            <th class="table-column-300" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="NameFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="contactPerson-search">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="ContactFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="email-search">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="EmailFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="mobileNo-search">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="MobileOrPhoneFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="website-search">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef>
                <input type="text" class="form-control w-90" [(ngModel)]="WebsiteFilter">
            </th>
        </ng-container>
        <ng-container matColumnDef="footer">
            <td mat-footer-cell colspan="8" *matFooterCellDef>
                <mat-paginator [length]="customerResource.totalCount" [pageSize]="customerResource.pageSize"
                    [pageSizeOptions]="[10,20,30,50]">
                </mat-paginator>
            </td>
        </ng-container> 
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay;sticky: true"></tr>
    </table>
</div>