<mat-dialog-content>
  
  <div class="dialogdiv text-center">Interaction number is :{{data?.transactionNumber}}</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <mat-label> Disposition</mat-label>
        <mat-select [(ngModel)]="selectedValue"
            placeholder="Select Disposition" class="form-control">
            <ng-container *ngFor="let status of statusList" > 
              <mat-option *ngIf="status?.isEnabled"  [value]="status.dispoCode">
                {{status.dispoDesc}}
              </mat-option>
            </ng-container>
        </mat-select>
    </div>
</div>
</div>
</mat-dialog-content>


<mat-dialog-actions align="center">
  <div class="col-md-12 mt-1">
    <button (click)="submit()" type="button" class="btn btn-success">
      <i class="fas fa-save"></i> Close Call
    </button>
  </div>
</mat-dialog-actions>