    <div class="page-header-main headerBackground mt-2">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-auto col-sm-auto">
                <div class="content-header">
                    <h1 mat-dialog-title>Comments </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-shade" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-dialog-content>
    <form [formGroup]="notesForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="font-weight-bold">
                     Comment
                    </label>
                    <angular-editor formControlName="body"  maxLength="1200"
                        [config]="editorConfig"></angular-editor>
                    <div *ngIf="notesForm.get('body').touched && notesForm.get('body').errors">
                        <div class="text-danger" *ngIf="notesForm.get('body').errors?.required">
                            Comment is required
                        </div>
                        <div class="text-danger" *ngIf="notesForm.get('body').errors?.pattern">Special characters not allowed</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="form-group">
                    <mat-label>Next Status Time *</mat-label>
                    <input class="form-control" (click)="nextStatusTime.open()" [readonly]="true" [min]="currentDate" id="nextStatusTime" formControlName="nextStatusTime"
                        [owlDateTimeTrigger]="nextStatusTime" [owlDateTime]="nextStatusTime" placeholder="{{'DATE' | translate}}">
                    <div *ngIf="notesForm.get('nextStatusTime').touched && notesForm.get('nextStatusTime').errors">
                        <div class="text-danger" *ngIf="notesForm.get('nextStatusTime').errors?.required">
                            Next Status Time is required
                        </div>
                    </div>
                    <owl-date-time #nextStatusTime></owl-date-time>
                </div>
            </div> -->
            <div class="col-md-12 mt-2">
                <div class="form-group">
                  <label class="font-weight-bold"> {{'ATTACHMENTS' | translate}} </label>
                  <div class="dropzone" appDragDrop (onFileDropped)="onFileDropped($event)">
                    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
                    <i class="text-danger fas fa-download fa-lg" aria-hidden="true"></i>
                    <h3>{{'DRAG_AND_DROP_FILE_HERE' | translate}}</h3>
                    <h3>{{'OR' | translate}}</h3>
                    <label for="fileDropRef">{{'BROWSE_FOR_FILE' | translate}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-2">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let file of files; let i = index">
                    <h4 class="name">
                      {{ file?.name }} -- {{ formatBytes(file?.size) }}
                    </h4>
                    <span class="badge badge-pill">
                      <button class="btn btn-danger" (click)="onDeleteFile(i)">
                        <i class="text-light fas fa-trash"></i>
                      </button>
                    </span>
                    <div class="loading-shade" *ngIf="file?.progress">
                      <mat-spinner></mat-spinner>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div *hasClaim="'INT_ADD_INTERACTION'" class="col-md-auto col-sm-auto col-auto">
        <button [disabled]="isLoading" class="btn btn-success btn-sm m-right-10" (click)="addNote()">
            <i class="fas fa-plus"></i> Add Comment
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="dialogRef.close(false)"><i
            class="fas fa-times-circle"></i>
        {{"CANCEL" | translate}}
    </button>
    </div>
</mat-dialog-actions>