<div class="modal-content1">
    <div class="modal-header">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <div class="col-md-10 col">
                <h4 class="modal-title">
                    Manage Disposition
                </h4>
            </div>
            <div class="col-sm-auto col-auto ml-auto">
                <button type="button" class="close" (click)="onCancel()" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <form name="form" (ngSubmit)="disPositionForm.form.valid && addDisposition()" #disPositionForm="ngForm" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="categoryName">Desposition Description</label>
                        <input required [(ngModel)]="data.dispoDesc" [ngModelOptions]="{standalone: true}" type="text" name="dispoDesc" #dispoDesc="ngModel"
                            class="form-control" id="categoryName">
                        <div *ngIf="dispoDesc.invalid && (dispoDesc.dirty || dispoDesc.touched)">
                            <div class="text-danger" *ngIf="dispoDesc.errors?.required">
                                Disposition description is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="categoryName">Desposition Code</label>
                        <input required [(ngModel)]="data.dispoCode" [ngModelOptions]="{standalone: true}" type="text" name="dispoCode" #dispoCode="ngModel"
                            class="form-control" id="categoryName">
                        <div *ngIf="dispoCode.invalid && (dispoCode.dirty || dispoCode.touched)">
                            <div class="text-danger" *ngIf="dispoCode.errors?.required">
                                Desposition Code is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                            Is Enabled
                            <mat-checkbox (change)="checkEnable($event)" [ngModelOptions]="{standalone: true}" [checked]="data.isEnabled"  [dir]="langDir" color="primary" [(ngModel)]="data.isEnabled">
                            </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button *hasClaim="['MST_CTI_EDIT_DISPOSTION','MST_CTI_ADD_DISPOSTION']" type="submit" class="btn btn-success btn-sm m-right-10"
                cdkFocusInitial><i class="las la-save"></i> {{'SAVE' |
                translate}}</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="onCancel()"> <i
                    class="las la-times-circle"></i>
                {{'CANCEL' | translate}}</button>
        </div>
    </form>
</div>


