.w-100 {
  width: 100%;
}
::ng-deep .k-textbox-container,
.k-floating-label-container {
  width: 100%;
}
.chem-img {
  width: 150px;
  height: 150px;
}
.display-none {
  display: none;
}
.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.hline {
  height: 0px;
  background-color: #2196f3;
  width: 100%;
}


.email-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.email-div i {
  font-size: 16px;
  margin-left: -25px;
  cursor: pointer;
  color: #f2b602;
}