<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>Calendar Master</h1>
            </div>
        </div>
        <div *hasClaim="'MST_ADD_CALENDER'" class="col-md-auto col-sm-auto col-auto">
            <button class="btn blue-btn btn-sm m-right-10" routerLink="add">
                <i class="fas fa-plus"></i>
                Create Calendar
            </button>
        </div>
    </div>
</div>
<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>List of Hoidays for the year {{currentYear}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table [dir]="langDir" mat-table [dataSource]="calendarList" multiTemplateDataRows
        class="table table-bordered table-hover grid-height">
        <ng-container matColumnDef="action">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef>{{'ACTION' | translate}} </th>
            <td class="table-column-200" mat-cell *matCellDef="let element">
                <mat-icon class="interButtonIcons" *hasClaim="'MST_UPDATE_CALENDER'"
                    routerLink="edit/{{currentYear}}">edit</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="srNo">
            <th class="table-column-100" mat-header-cell *matHeaderCellDef> Sr No. </th>
            <td class="table-column-100" mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef> Date </th>
            <td class="table-column-150" mat-cell *matCellDef="let element"> {{element.date | date:'dd/mm/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="day">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef> Day </th>
            <td class="table-column-200" mat-cell *matCellDef="let element"> {{element.day}} </td>
        </ng-container>
        <ng-container matColumnDef="occasion">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef> Occasion </th>
            <td class="table-column-200" mat-cell *matCellDef="let element"> {{element.occasion}} </td>
        </ng-container>
        <tr *matNoDataRow>
            <td [attr.colspan]="columnsToDisplay.length">
                <span class="p-4 mt-4">
                    <b> {{'NO_DATA_FOUND' | translate}}</b>
                </span>
            </td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>