<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>Calendar Master</h1>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 w-100">
    <div class="form-group">
        <mat-label> Year </mat-label>
        <mat-select [(ngModel)]="selectedYear" (selectionChange)="getCalenderList();"
            placeholder="Select status" class="form-control">
            <mat-option [value]="year" *ngFor="let year of yearsDropdown">{{year}}</mat-option>
        </mat-select>
    </div>
</div>
<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>List of Hoidays for the year {{currentYear}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table [dir]="langDir" mat-table [dataSource]="calendarList" multiTemplateDataRows
        class="table table-bordered table-hover table_height">
        <ng-container matColumnDef="action">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef>{{'ACTION' | translate}} </th>
            <td class="table-column-200" mat-cell *matCellDef="let element">
                <mat-icon class="interButtonIcons" *hasClaim="'MST_EDIT_CALENDER'"
                   (click)="updateCalendar(element)" >edit</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="calenderId">
            <th class="table-column-100" mat-header-cell *matHeaderCellDef> Calendar Id </th>
            <td class="table-column-100" mat-cell *matCellDef="let element"> {{element.calenderId}} </td>
        </ng-container>
        <ng-container matColumnDef="srNo">
            <th class="table-column-100" mat-header-cell *matHeaderCellDef> Calendar Type </th>
            <td class="table-column-100" mat-cell *matCellDef="let element"> {{element.calenderDateType}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th class="table-column-150" mat-header-cell *matHeaderCellDef> Date </th>
            <td class="table-column-150" mat-cell *matCellDef="let element"> {{element.calenderDate | date:'yyyy-MM-dd'}} </td>
        </ng-container>
        <ng-container matColumnDef="day">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef> Day </th>
            <td class="table-column-200" mat-cell *matCellDef="let element"> {{element.day}} </td>
        </ng-container>
        <ng-container matColumnDef="occasion">
            <th class="table-column-200" mat-header-cell *matHeaderCellDef> Occasion </th>
            <td class="table-column-200" mat-cell *matCellDef="let element"> {{element.calenderDateRemarks}} </td>
        </ng-container>
        <tr *matNoDataRow>
            <td [attr.colspan]="columnsToDisplay.length">
                <span class="p-4 mt-4">
                    <b> {{'NO_DATA_FOUND' | translate}}</b>
                </span>
            </td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>