<form [formGroup]="addInventoryForm">
    <div class="example-action-buttons justify-content-between">
        <div class="ml-2" *ngIf="resValue?.ticketType =='Ticket Created' || resValue?.ticketType == 2 ">
            <button type="button" *hasClaim="'EMAIL_SEND_EMAIL'" (click)="openSendEmailDialog()"
                class="btn btn-success btn-md">
                <i class="fas fa-envelope"></i>
                Reply</button>
            <button type="button" *hasClaim="'INT_UPDATE_INTERACTION_TEAM'" (click)="openTransfer()"
                class="btn btn-warning btn-md mx-3">
                <i class="fas fa-paper-plane"></i>
                Transfer</button>
        </div>
        <div class="" *ngIf="resValue?.ticketType =='Ticket Created' || resValue?.ticketType == 2">

            <button type="button" *hasClaim="'INT_UPDATE_INTERACTION'"  (click)="onSubmit()" class="btn btn-success btn-md m-right-10"><i
                    class="fas fa-save"></i>
                {{"SAVE" | translate}}</button>
            <button type="button" class="btn btn-danger btn-md" [routerLink]="['/interactions']"><i
                    class="fas fa-times-circle"></i>
                {{"CANCEL" | translate}}
            </button>

            <button mat-button (click)="accordion.openAll()">Expand All</button>
            <button mat-button (click)="accordion.closeAll()">Collapse All</button>
        </div>

    </div>
    <div class="loading-shade" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title class="panelTital content-header">
                    Properites
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Interaction Number :</label>
                        <input type="text" class="form-control" [readonly]="true"
                            [value]="interactionData?.transactionNumber">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Created Date Time :</label>
                        <input type="text" class="form-control" [readonly]="true"
                            [value]="interactionData?.createdDate | date:'dd-MM-yyyy hh:mm:ss aa'">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Created By :</label>
                        <input type="text" class="form-control" [readonly]="true"
                            [value]="interactionData?.createdByName || ''">
                    </div>
                </div>
            </div>
            <div class="page-header-main">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-auto col-sm-auto col">
                        <div class="content-header">
                            <h1>General Information</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <span class="mx-2 interactionDetail">Interaction Number : {{interactionData?.transactionNumber || '122i4394983748'}}</span> -->
                <div class="md-12 mb-3"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Ticket Type</mat-label>
                        <mat-select [disabled]="true" (selectionChange)="onticketTypeChange($event)" [dir]="langDir"
                            formControlName="ticketType" class="form-control">
                            <!-- <mat-option *ngFor="let cat of ticketTypeList" [value]="cat.id">
                                {{cat.name}}
                            </mat-option> -->
                            <ng-container *ngFor="let list of ticketTypeList">
                                <mat-option *ngIf="list.name !='Email' " [value]="list.id">
                                    {{list.name}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('ticketType').touched && addInventoryForm.get('ticketType').errors?.required"
                            class="text-danger">
                            <!-- {{'PLEASE_SELECT_COUNTRY' | translate}} -->
                            Please select ticket type
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <!-- <mat-label> {{'TICKET_TYPE' | translate}}</mat-label> -->
                        <mat-label> Interaction Status</mat-label>
                        <mat-select
                            [disabled]="addInventoryForm.get('ticketType')?.value == 1"
                            (selectionChange)="setStatusName($event)" [dir]="langDir" formControlName="statusId"
                            class="form-control">
                            <mat-option *ngFor="let status of statusList" [value]="status.id">
                                {{status.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('statusId').touched && addInventoryForm.get('statusId').errors?.required"
                            class="text-danger">
                            Please select Interaction status
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Interaction Sub Status</mat-label>
                        <mat-select [disabled]="addInventoryForm.get('ticketType')?.value == 1" (selectionChange)="subStatusChange($event)" [dir]="langDir"
                            formControlName="subStatusId" class="form-control">
                           <ng-container *ngIf="addInventoryForm.get('statusId')?.value==2">
                               <mat-option *ngFor="let data of subStatusList" [disabled]="addInventoryForm.get('statusId')?.value==2 && data?.name !='ACI'" [value]="data.id">
                                   {{data.name}}
                                </mat-option>
                            </ng-container>
                           <ng-container *ngIf="addInventoryForm.get('statusId')?.value==3">
                               <mat-option *ngFor="let data of subStatusList" [disabled]="addInventoryForm.get('statusId')?.value==3 && data?.name !='Resolved'" [value]="data.id">
                                   {{data.name}}
                                </mat-option>
                            </ng-container>
                           <ng-container *ngIf="addInventoryForm.get('statusId')?.value==4">
                               <mat-option *ngFor="let data of subStatusList" [disabled]="data?.name !='ACI'" [value]="data.id">
                                   {{data.name}}
                                </mat-option>
                            </ng-container>
                           <ng-container *ngIf="addInventoryForm.get('statusId')?.value==1">
                               <mat-option *ngFor="let data of subStatusList" [disabled]="data?.name =='Response Received From Email'|| data?.name =='ReOpen'|| data?.name =='Response Received From GRP'" [value]="data.id">
                                   {{data.name}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('subStatusId').touched && addInventoryForm.get('subStatusId').errors?.required"
                            class="text-danger">
                            Please select sub status
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Priority</mat-label>
                        <mat-select [dir]="langDir" [disabled]="true" formControlName="priority" class="form-control">
                            <mat-option *ngFor="let data of priorityList" [value]="data.id">
                                {{data.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('priority').touched && addInventoryForm.get('priority').errors?.required"
                            class="text-danger">
                            Please select priority
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Category</mat-label>
                        <mat-select [disabled]="addInventoryForm.get('ticketType')?.value == 1" (selectionChange)="onCatChange($event)" [dir]="langDir" formControlName="categoryId"
                            class="form-control">
                            <ng-container>
                                <input type="text" class="form-control sticky-input" formControlName="catInput"
                                    placeholder="Search Category" autocomplete="off" />
                            <mat-option *ngFor="let subCat of categoryList | searchFilter : 'name':addInventoryForm.value.catInput" [value]="subCat.id">
                                {{subCat.name}}
                            </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('categoryId').touched && addInventoryForm.get('categoryId').errors?.required"
                            class="text-danger">
                            Please select category
                        </mat-error>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Sub Category</mat-label>
                        
                        <mat-select [disabled]="addInventoryForm.get('ticketType')?.value == 1" formControlName="subcategoryId" class="form-control">
                            <ng-container>
                                <input type="text" class="form-control sticky-input" formControlName="subCatInput"
                                    placeholder="Search Sub Category" autocomplete="off" />
                            <mat-option *ngFor="let subCat of subCategoryList | searchFilter : 'name':addInventoryForm.value.subCatInput" [value]="subCat.id">
                                {{subCat.name}}
                            </mat-option>
                        </ng-container>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('subcategoryId').touched && addInventoryForm.get('subcategoryId').errors?.required"
                            class="text-danger">
                            Please select sub Category
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>GSTIN/ARN/TRN/UN</mat-label>
                        <input type="text" maxlength="15" minlength="10" class="form-control" id="gstn"
                            formControlName="gstn">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('gstn').touched && addInventoryForm.get('gstn').errors?.required"
                            class="text-danger">
                            Please enter GSTIN/ARN/TRN/UN
                        </mat-error>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('gstn').touched && addInventoryForm.get('gstn').errors?.minlength"
                            class="text-danger">
                            Please enter valid GSTIN/ARN/TRN/UN
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <!-- [disabled]="contactSelectedType == 'Ticket Created'|| contactSelectedType !== 'Ticket Created'" -->
                        <mat-label>Team</mat-label>
                        <mat-select [disabled]="true" [dir]="langDir" formControlName="teamId" class="form-control">
                            <mat-option *ngFor="let team of teamList" [value]="team.id">
                                {{team.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('teamId').touched && addInventoryForm.get('teamId').errors?.required"
                            class="text-danger">
                            <!-- {{'PLEASE_SELECT_COUNTRY' | translate}} -->
                            Please select team
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Assign To</mat-label>
                        <input type="text" [readonly]="true" class="form-control" id="gstn"
                            [value]="resValue?.assignToName">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Contact Name</mat-label>
                        <input type="text" [readonly]="true" class="form-control" id="gstn"
                            formControlName="contactName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Docket Number:</mat-label>
                        <input type="text" class="form-control" id="docketNumber" [readonly]="true"
                            formControlName="docketNumber">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('docketNumber').touched && addInventoryForm.get('docketNumber').errors?.required"
                            class="text-danger">
                            Please enter docket number
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <mat-label>No Of Messages:</mat-label>
                        <input type="text" class="form-control" id="message" [readonly]="true"
                            formControlName="noOfMessages">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <mat-label>Reopen Count:</mat-label>
                        <input type="text" class="form-control" id="message" [readonly]="true"
                            formControlName="reopenCount">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Source</mat-label>
                        <mat-select [disabled]="true" formControlName="source" placeholder="Please select source"
                            class="form-control">
                            <mat-option *ngFor="let source of sourceList" [value]="source.name">
                                {{source.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('source').touched && addInventoryForm.get('source').errors?.required"
                            class="text-danger">
                            Please select source.
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Telsima ID</mat-label>
                        <input type="text" [readonly]="true" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-label>Subject</mat-label>
                        <input type="text" maxlength="600" [readonly]="true" class="form-control"
                            formControlName="subject">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('subject').touched && addInventoryForm.get('subject').errors?.required"
                            class="text-danger">
                            Please enter subject
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-6 d-none">
                    <div class="form-group">
                        <mat-label>Agent Remarks</mat-label>
                        <textarea type="text" maxlength="2000" formControlName="agentRemarks"
                            class="form-control"></textarea>
                        <!-- <input type="text" maxlength="600" class="form-control"
                            formControlName="agentRemarks"> -->
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('agentRemarks').touched && addInventoryForm.get('agentRemarks').errors?.required"
                            class="text-danger">
                            Please enter agent remarks
                        </mat-error>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <mat-label>Problem Reported </mat-label>
                        <textarea maxlength="2000" [readonly]="true" formControlName="problemReported"
                            class="form-control"></textarea>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('problemReported').touched && addInventoryForm.get('problemReported').errors?.required"
                            class="text-danger">
                            Please enter problem reported
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-label>Agent Remarks</mat-label>
                        <!-- <input type="text" maxlength="600" class="form-control"
                            formControlName="agentRemarks"> -->
                        <textarea type="text" maxlength="2000"
                            [readonly]="resValue?.ticketType==1 || resValue?.ticketType=='FCR'"
                            formControlName="agentRemarks" class="form-control"></textarea>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('agentRemarks').touched && addInventoryForm.get('agentRemarks').errors?.required"
                            class="text-danger">
                            Please enter agent remarks
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <mat-label>Comments </mat-label>
                        <textarea
                            [readonly]="true"
                            type="text" maxlength="2000" class="form-control" id="docketNumber"
                            formControlName="currentStatus"></textarea>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('currentStatus').touched && addInventoryForm.get('currentStatus').errors?.required"
                            class="text-danger">
                            Please enter current status
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group text-center mt-3"
                        *ngIf="interactionData?.ticketType == '2'|| interactionData?.ticketType == 'Ticket Created'">
                        <button (click)="addNote()" *hasClaim="'INT_ADD_NOTE_INTERACTION'" type="button"
                            class="btn mt-3 btn-success btn-md">
                            <i class="fas fa-plus"></i>
                            Add Comments</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-label>Resolution Comments </mat-label>
                        <textarea maxlength="2000" [readonly]="true"
                            formControlName="resolutionComments" class="form-control"></textarea>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('resolutionComments').touched && addInventoryForm.get('resolutionComments').errors?.required"
                            class="text-danger">
                            Please enter resolution comments
                        </mat-error>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>






        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="panelTital content-header">
                    L1 And L2
                </mat-panel-title>
            </mat-expansion-panel-header>


            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Previous Docket No:</mat-label>
                        <input type="text" formControlName="previousDocket" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>CPIN:</mat-label>
                        <input type="text" formControlName="cpin" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Error Message:</mat-label>
                        <input type="text" formControlName="errorMessage" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Return Name:</mat-label>
                        <input type="text" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Return Type:</mat-label>
                        <input type="text" FormControlName="returnType" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Composition Start Date/End Date :</mat-label>
                        <input type="text" [readonly]="true" formControlName="compositionDate" class="form-control"
                            id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Return Period:</mat-label>
                        <input type="text" formControlName="refundPeriod" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Last successful return :</mat-label>
                        <input type="text" formControlName="lastSuccessfulReturn" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Form Name:</mat-label>
                        <input type="text" formControlName="formName" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Registration Type :</mat-label>
                        <input type="text" formControlName="registrationType" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Taxpayer Type :</mat-label>
                        <input type="text" class="form-control" formControlName="isTaxpayer" id="">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Pending With:</mat-label>
                        <input type="text" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Registration Form :</mat-label>
                        <input type="text" formControlName="registrationForm" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Return Form :</mat-label>
                        <input type="text" formControlName="returnForm" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>State Id :</mat-label>
                        <input type="text" formControlName="stateID" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Refund Period :</mat-label>
                        <input type="text" formControlName="refundPeriod" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Type Name :</mat-label>
                        <input type="text" formControlName="typeName" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Problem Type</mat-label>
                        <input type="text" [readonly]="true" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Issue Type :</mat-label>
                        <input type="text" [readonly]="true" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Problem Id:</mat-label>
                        <mat-select formControlName="problemId" class="form-control">
                            <mat-option *ngFor="let data of problemList" [value]="data.id">
                                {{data.problemName}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Problem id description:</mat-label>
                        <input type="text" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Incident/Problem number:</mat-label>
                        <input type="text" [readonly]="true" class="form-control" id="">
                    </div>
                </div>
            </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="panelTital content-header">
                    Other Information
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Unique Number</mat-label>
                        <input type="text" class="form-control" id="uniqueNumber" [readonly]="true"
                            formControlName="uniqueNumber">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('uniqueNumber').touched && addInventoryForm.get('uniqueNumber').errors?.required"
                            class="text-danger">
                            <!-- {{'PLEASE_SELECT_COUNTRY' | translate}} -->
                            Please enter unique number
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Integration age time</mat-label>
                        <input type="text" [readonly]="true" class="form-control" id="uniqueNumber"
                            formControlName="uniqueNumber">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('uniqueNumber').touched && addInventoryForm.get('uniqueNumber').errors?.required"
                            class="text-danger">
                            <!-- {{'PLEASE_SELECT_COUNTRY' | translate}} -->
                            Please enter Integration age time
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Error code</mat-label>
                        <mat-select [disabled]="true" [dir]="langDir" formControlName="errorCode" class="form-control">
                            <mat-option *ngFor="let error of errorCodeList" [value]="error.id">
                                {{error.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('errorCode').touched && addInventoryForm.get('errorCode').errors?.required"
                            class="text-danger">
                            <!-- {{'PLEASE_SELECT_COUNTRY' | translate}} -->
                            Please select error code
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Created</mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="created"
                            formControlName="created">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('created').touched && addInventoryForm.get('created').errors?.required"
                            class="text-danger">
                            Please enter created
                        </mat-error>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Interaction Created Through Media</mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="created"
                            formControlName="interactionCreatedThroughMedia">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('created').touched && addInventoryForm.get('created').errors?.required"
                            class="text-danger">
                            Please enter last Updated
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Interaction thread last updated</mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="created"
                            formControlName="interactionThread">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('interactionThread').touched && addInventoryForm.get('interactionThread').errors?.required"
                            class="text-danger">
                            Please enter interactionThread last updated
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Last resolved at </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="created"
                            formControlName="created">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('created').touched && addInventoryForm.get('created').errors?.required"
                            class="text-danger">
                            Please enter last Updated
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Date last updated </mat-label>
                        <input [readonly]="true" type="text" readonly (click)="lastDateUpdate.open();"
                            [owlDateTimeTrigger]="lastDateUpdate" [owlDateTime]="lastDateUpdate" class="form-control"
                            formControlName="dateLastUpdate">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('dateLastUpdate').touched && addInventoryForm.get('dateLastUpdate').errors?.required"
                            class="text-danger">
                            Please enter date last update
                        </mat-error>
                        <owl-date-time [pickerType]="'calendar'" #lastDateUpdate></owl-date-time>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Reserved For </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread"
                            formControlName="reservedFor">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('reservedFor').touched && addInventoryForm.get('reservedFor').errors?.required"
                            class="text-danger">
                            Please enter interaction thread
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>ARN : </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread"
                            formControlName="arn">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('arn').touched && addInventoryForm.get('arn').errors?.required"
                            class="text-danger">
                            Please enter ARN
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Time From Created To Update In Hrs: </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread"
                            formControlName="timeFromCreatedToUpdateInHrs">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('timeFromCreatedToUpdateInHrs').touched && addInventoryForm.get('timeFromCreatedToUpdateInHrs').errors?.required"
                            class="text-danger">
                            Please enter Time From Created To Update In Hrs
                        </mat-error>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Time From last Update To Currrent In Hrs: </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread"
                            formControlName="timeFromLastUpdateToCurrentInHrs">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('timeFromLastUpdateToCurrentInHrs').touched && addInventoryForm.get('timeFromLastUpdateToCurrentInHrs').errors?.required"
                            class="text-danger">
                            Please enter Time From last Update To Currrent In Hrs
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Time From Created To Current In Hrs: </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread"
                            formControlName="timeFromCreatedToCurrentInHrs">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('timeFromCreatedToCurrentInHrs').touched && addInventoryForm.get('timeFromCreatedToCurrentInHrs').errors?.required"
                            class="text-danger">
                            Please enter Time From Created To Current In Hrs
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Pan Card No. : </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread"
                            formControlName="panNo">
                        <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('panNo').touched && addInventoryForm.get('panNo').errors?.required"
                            class="text-danger">
                            Please enter Pan Card No.
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-4 d-none">
                    <div class="form-group">
                        <mat-label>Test Tallsma : </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread">
                        <!-- <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('panCardNo').touched && addInventoryForm.get('panCardNo').errors?.required"
                            class="text-danger">
                            Please enter Pan Card No.
                        </mat-error> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Clarification Filled : </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread"
                            formControlName="clarificationFilled">
                        <!-- <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('panCardNo').touched && addInventoryForm.get('panCardNo').errors?.required"
                            class="text-danger">
                            Please enter Pan Card No.
                        </mat-error> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Problem ID </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread">
                        <!-- <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('panCardNo').touched && addInventoryForm.get('panCardNo').errors?.required"
                            class="text-danger">
                            Please enter Pan Card No.
                        </mat-error> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-label>Feedback </mat-label>
                        <input [readonly]="true" type="text" class="form-control" id="interactionThread">
                        <!-- <mat-error [dir]="langDir"
                            *ngIf="addInventoryForm.get('panCardNo').touched && addInventoryForm.get('panCardNo').errors?.required"
                            class="text-danger">
                            Please enter Pan Card No.
                        </mat-error> -->
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</form>