<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-teal" routerLink="/interactions" >
            <div class="inner">
                <!-- <h3>{{dashboardStaticatics?.totalPurchase | number}}</h3>
                <p>{{'TOTAL' | translate }}</p> -->
                <h3>500</h3>
                <p>Total Interactions</p>
            </div>
            <div class="icon">
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-pink" routerLink="/interactions">
            <div class="inner">
                <!-- <h3>{{dashboardStaticatics?.totalSales | number}}</h3>
                <p> {{'OPEN' | translate }}</p> -->
                <h3>100</h3>
                <p> OPEN</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow"  routerLink="/interactions">
            <div class="inner">
                <h3>200</h3>
                <p>IN-PROGRESS</p>
            </div>
            <div class="icon">
                <i class="fas fa-undo"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-danger"  routerLink="/interactions">
            <div class="inner">
                <h3>100</h3>
                <p>CLOSED</p>
            </div>
            <div class="icon">
                <i class="fas fa-undo"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-danger"  routerLink="/interactions">
            <div class="inner">
                <h3>100</h3>
                <p>RESOLVED</p>
            </div>
            <div class="icon">
                <i class="fas fa-undo"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-teal"  routerLink="/customer">
            <div class="inner">
                <h3>100</h3>
                <p>CONTACT</p>
            </div>
            <div class="icon">
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6" routerLink="/users">
        <div class="small-box bg-pink">
            <div class="inner">
                <h3>600</h3>
                <p>USER</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow"  routerLink="/team">
            <div class="inner">
                <h3>150</h3>
                <p>TEAMS</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-shield"></i>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-3 col-xs-6 d-none">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>250</h3>
                <p>{{'TOTAL' | translate}}</p>
            </div>
            <div class="icon">
                <i class="fas fa-building"></i>
            </div>
        </div>
    </div> -->
</div>