tr.example-detail-row {
    height: 0 !important;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .inner-table {
    margin: 1em;
    padding: 1em;
    width: 100% !important;
  }
  
  .button-margin {
    margin-top: 20px;
  }
  
  .interButtonIcons{
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    margin-top: 10px;
    margin-right: 8px;
  }
  
  