.NotesDiv{
    border: 1px solid #dddddd;
    min-height: 30vh;
    width: 100vw;
    padding: 12px;
}

.noNotes {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Desc{
    max-height: 70px;
    overflow: auto;
}

:host ::ng-deep .angular-editor-textarea {
    min-height: 100px !important;
    background-color: #fff !important;
}