<div class="loading-shade" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>
<div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header headerBackground mb-3 py-3 px-2">
                <h1>Searching Filter</h1>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <mat-label for="fromDate">{{'FROM_DATE' | translate}} </mat-label>
                <input class="form-control" [max]="currentDate" [(ngModel)]="fromDate" [owlDateTimeTrigger]="fromDate1"
                    [owlDateTime]="fromDate1" placeholder="{{'FROM_DATE' | translate}}">
                <owl-date-time [pickerType]="'calendar'" #fromDate1></owl-date-time>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <mat-label for="toDate">{{'TO_DATE' | translate}} </mat-label>
                <input class="form-control" id="toDate1" [max]="currentDate" [(ngModel)]="toDate"
                    [owlDateTimeTrigger]="toDate1" [owlDateTime]="toDate1" placeholder="{{'TO_DATE' | translate}}">
                <owl-date-time [pickerType]="'calendar'" #toDate1></owl-date-time>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="form-group">
                <mat-label for="search">Interaction ID</mat-label>
                <input type="text" [(ngModel)]="search" placeholder="search by interaction id" class="form-control"
                    id="search">
            </div>
        </div> -->
        <div class="col-md-2">
            <div class="form-group">
                <mat-label> Status </mat-label>
                <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusChange($event)"
                    placeholder="Select status" class="form-control">
                    <mat-option [value]="status?.id" *ngFor="let status of statusList">{{status?.name}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <mat-label> Sub Status </mat-label>
                <mat-select [disabled]="!selectedStatus" [(ngModel)]="selectedSubStatus" placeholder="Select status"
                    class="form-control">
                    <mat-option [value]="status?.id" *ngFor="let status of subStatusList">{{status?.name}}</mat-option>
                </mat-select>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="form-group">
                <mat-label> Category </mat-label>
                <mat-select [(ngModel)]="selectedCategory"
                    (selectionChange)="onCatChange($event);catInput=''" placeholder="Select category"
                    class="form-control">

                    <ng-container>
                        <input type="text" class="form-control sticky-input" [(ngModel)]="catInput"
                            placeholder="Search Category" autocomplete="off" />
                        <mat-option [value]="cat?.id"
                            *ngFor="let cat of categoryList | searchFilter : 'name':catInput">{{cat?.name}}</mat-option>
                    </ng-container>


                </mat-select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <mat-label> Sub Category </mat-label>
                <mat-select (selectionChange)="subCatInput=''" [disabled]="!selectedCategory"
                    [(ngModel)]="selectedSubCategory" placeholder="Select type" class="form-control">
                    <ng-container>
                        <input type="text" class="form-control sticky-input" [(ngModel)]="subCatInput"
                            placeholder="Search Category" autocomplete="off" />
                        <mat-option [value]="cat?.id"
                            *ngFor="let cat of subCategoryList | searchFilter : 'name':subCatInput">{{cat?.name}}</mat-option>
                    </ng-container>

                </mat-select>
            </div>
        </div> -->

        <!-- <div class="col-md-3 d-none">
            <div class="form-group">
                <mat-label> Team </mat-label>
                <mat-select [(ngModel)]="selectedTeam" placeholder="Select team" class="form-control">
                    <mat-option [value]="team?.id" *ngFor="let team of teamList">{{team?.name}}</mat-option>
                </mat-select>
            </div>
        </div> -->
        <div class="col-md-3">
            <button type="button" (click)="searchList()" class="btn btn-success btn-md mr-1 button-margin"><i
                    class="fas fa-save"></i>
                Search</button>
            <button type="button" (click)="onClear();" class="btn btn-danger btn-md button-margin"><i
                    class="fas fa-times-circle"></i>
                Clear </button>
        </div>
    </div>
</div>
<div class="page-header-main headerBackground">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>Bulk Assignment</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <mat-label>Assign Team </mat-label>
            <mat-select [(ngModel)]="selectedTeam" (selectionChange)="onTeamChange($event)" placeholder="Select team" class="form-control">
                <mat-option [value]="team?.assignTeamId" *ngFor="let team of teamList">{{team?.assignTeamName}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <mat-label>Assign To </mat-label>
            <mat-select [(ngModel)]="selectedAssignMember" placeholder="Select member name"
                class="form-control">
                <mat-option [value]="type?.userId" *ngFor="let type of membersList">{{getMembersName(type?.userId)}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" *hasClaim="'INT_VIEW_MANNUALASSIGN'" (click)="bulkAssign()" class="btn btn-success btn-md mx-2 button-margin"><i
                class="fas fa-save"></i>
            Bulk Assign</button>
        <button type="button" (click)="onClear();" class="btn btn-danger btn-md button-margin"><i
                class="fas fa-times-circle"></i>
            Clear </button>
    </div>
</div>
<div class="page-header-main headerBackground">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>Interactions List</h1>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <div class="table table-bordered table-hover ">
        <table [dir]="langDir" class="table_height" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
            <ng-container matColumnDef="action">
                <!-- <th class="table-column-100" mat-header-cell *matHeaderCellDef="let data">
                    <mat-checkbox color="primary" name="enabled"  (change)="onSelectAll($event,dataSource)">Selcet All</mat-checkbox>
                 
                </th> -->
                <th class="table-column-100" mat-header-cell *matHeaderCellDef >Action              
                </th>
                <td class="table-column-100 text-center pad-12" mat-cell *matCellDef="let element">
                    <mat-checkbox color="primary" name="enabled" (change)="onChange(element?.id)"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="interactionid">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Interaction ID</th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.transactionNumber}} </td>
                <!-- <td class="table-column-200" mat-cell *matCellDef="let row"> {{row }} </td> -->
            </ng-container>
            <ng-container matColumnDef="interactiontype">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td class="table-column-200" [ngClass]="row?.ticketType=='FCR'?'fcr':'ticket-closed'" mat-cell
                    *matCellDef="let row"> {{row.ticketType}} </td>
            </ng-container>
            <ng-container matColumnDef="assignto">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Assign To</th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.assignToName}} </td>
            </ng-container>
            <ng-container matColumnDef="contant">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Contact Name</th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.contactName}} </td>
            </ng-container>
            <ng-container matColumnDef="createdteam">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Team
                </th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row?.teamName}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                </th>
                <td class="table-column-150"
                    [ngClass]="row?.statusName=='CLOSED'?'closed':(row?.statusName=='OPEN' ||  row?.statusName=='Open' ?'open':row?.statusName=='PENDING'?'pending':'resolved')"
                    mat-cell *matCellDef="let row"> <span class="text-uppercase">{{row?.statusName}}</span></td>
                <!-- <td class="table-column-200" mat-cell *matCellDef="let row"> {{row?.statusName}}</td> -->
            </ng-container>
            <ng-container matColumnDef="substatus">
                <th class="table-column-350" mat-header-cell *matHeaderCellDef mat-sort-header>Sub Status
                </th>
                <td class="table-column-350" mat-cell *matCellDef="let row"> {{row?.subcategoryName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row?.categoryName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="subcatagory">
                <th class="table-column-350" mat-header-cell *matHeaderCellDef mat-sort-header> Sub Category</th>
                <td class="table-column-350" mat-cell *matCellDef="let row"> {{row.subcategoryName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="problemreported1">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header> Problem Reported</th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.problemReported}}
                </td>
            </ng-container>
            <ng-container matColumnDef="docketno">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header> Docket no.</th>
                <td class="table-column-200" mat-cell *matCellDef="let row">{{row?.docketNumber}}
                </td>
            </ng-container>
            <ng-container matColumnDef="uniquenumber">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header> Unique Number</th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.uniqueNumber}}
                </td>
            </ng-container>
            <ng-container matColumnDef="gstn">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>GSTN</th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.gstn}}
                </td>
            </ng-container>
            <ng-container matColumnDef="createdat">
                <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
                <td class="table-column-200" mat-cell *matCellDef="let row"> {{row.createDateTime | date:'yyyy-MM-dd hh:mm a'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="footer">
                <td mat-footer-cell [attr.colspan]="displayedColumns.length" *matFooterCellDef>
                    <mat-paginator [length]="inventoryResource.totalCount" [pageSize]="inventoryResource.pageSize"
                        [dir]="langDir" [pageSizeOptions]="[10,20,30,40,50]">
                    </mat-paginator>
                </td>
            </ng-container>
            <ng-container *ngIf="dataSource.count === 0" matColumnDef="no-records">
                <td mat-footer-cell [colspan]="displayedColumns.length" *matFooterCellDef>
                    <b> {{'NO_DATA_FOUND' | translate}}</b>
                </td>
            </ng-container>
            <tr *matNoDataRow>
                <td colspan="9">
                    <span class="p-4 mt-4">
                        <b> {{'NO_DATA_FOUND' | translate}}</b>
                    </span>
                </td>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsToDisplay;sticky: true"></tr>
        </table>
    </div>
</div>