<div class="page-header-main headerBackground">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>Escalation Matrix</h1>
            </div>
        </div>
        <!-- <div *hasClaim="'MST_ADD_ESCALMATRIX'" class="col-md-auto col-sm-auto col-auto">
            <button class="btn blue-btn btn-sm m-right-10" [routerLink]="['/team/add']">
                <i class="fas fa-plus"></i>
                Add Escalation Matrix
            </button>
        </div> -->
    </div>
</div>

<div>
    <table [dir]="langDir" mat-table [dataSource]="queueList" multiTemplateDataRows
        class="table table-bordered table-hover grid-height w-100">
        <ng-container matColumnDef="substatus">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="cursor-pointer" *ngIf="element != expandedElement" (click)="toggleRow(element)">
                    chevron_right</mat-icon>
                <mat-icon class="cursor-pointer" *ngIf="element == expandedElement" (click)="toggleRow(element)">
                    expand_more</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th style="width:30%" mat-header-cell *matHeaderCellDef>{{'ACTION' | translate}} </th>
            <td style="width:30%" mat-cell *matCellDef="let element">
                <button *hasClaim="'MST_EDIT_ESCALMATRIX'" routerLink="/team/edit/{{element.id}}"
                    class="btn btn-success btn-sm m-right-10" type="button">
                    <i class="las la-pen"></i>
                    {{'EDIT' | translate}}
                </button>
                <button *hasClaim="'MST_DELETE_ESCALMATRIX'" (click)="deleteQueue(element)" class="btn btn-danger btn-sm"
                    type="button">
                    <i class="las la-trash"></i>
                    {{'DELETE' | translate}}
                </button>
            </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{'NAME' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <!-- <th mat-header-cell *matHeaderCellDef> {{'DESCRIPTION' | translate}} </th> -->
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.isEnabled?'Active':'In Active'}} </td>
        </ng-container>
        <ng-container matColumnDef="bucketSize">
            <!-- <th mat-header-cell *matHeaderCellDef> {{'DESCRIPTION' | translate}} </th> -->
            <th mat-header-cell *matHeaderCellDef>Bucket Size </th>
            <td mat-cell *matCellDef="let element"> {{element?.bucketSize || 0}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let teamObject" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="teamObject == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="inner-table mat-elevation-z8">
                        <div class="row mb-3 align-items-center justify-content-between">
                            <div class="col-md-auto col-sm-auto">
                                <div class="section-title">
                                    <h2>Escalation Team</h2>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-auto">
                                <h4 class="widget-title">
                                    <button *hasClaim="'MST_QUE_MEMBER'" class="btn blue-btn btn-sm m-right-10"
                                        (click)="addMember(teamObject)">
                                        <i class="las la-plus"></i>
                                            Add Teams
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <table [dir]="langDir" mat-table [dataSource]="teamMembers" multiTemplateDataRows class="table w-100">
                            <ng-container matColumnDef="action">
                                <th style="width:40%" mat-header-cell *matHeaderCellDef>{{'ACTION' | translate}}
                                </th>
                                <td style="width:40%" mat-cell *matCellDef="let element">
                                    <button *hasClaim="'MST_QUE_MEMBER'" (click)="deleteMember(element)"
                                        class="btn btn-danger btn-sm" type="button">
                                        <i class="las la-trash"></i>
                                        {{'DELETE' | translate}}
                                    </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> {{'NAME' | translate}} </th>
                                <td mat-cell *matCellDef="let member"> {{getMembersName(member?.userId)}} </td>
                            </ng-container>
                           
                            <ng-container matColumnDef="status">
                                <!-- <th mat-header-cell *matHeaderCellDef> {{'DESCRIPTION' | translate}} </th> -->
                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let element"> {{element?.isEnabled?'Active':'In Active'}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="subCategoryColumnToDisplay;sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: subCategoryColumnToDisplay;"></tr>
                        </table>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [ngClass]="expandedElement? '' : 'd-none'" class="example-detail-row"></tr>
    </table>
</div>


