<div class="modal-content1">
    <div class="modal-header">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <div class="col-md-10 col">
                <h4 class="modal-title">
                    <!-- {{"MANAGE_INTERACTION_CATEGORY" | translate}} -->
                    Manage Lookup
                </h4>
            </div>
            <div class="col-sm-auto col-auto ml-auto">
                <button type="button" class="close" (click)="onCancel()" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <form autocomplete="off" [formGroup]="lookupForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="text-danger">{{"NAME" | translate}} *</label>
                                <input formControlName="name" class="form-control" type="text">
                                <div *ngIf="lookupForm.get('name').touched && lookupForm.get('name').errors">
                                    <div class="text-danger" *ngIf="lookupForm.get('name').errors?.required">
                                        <!-- {{"PRODUCT_NAME_IS_REQUIRED" | translate}}. -->
                                        Name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <!-- <label>{{"CODE" | translate}} </label> -->
                                <label class="text-danger">Lookup Type *</label>
                                <input [readonly]="true" formControlName="lookupType" class="form-control" type="text">
                                <div
                                    *ngIf="lookupForm.get('lookupType').touched && lookupForm.get('lookupType').errors">
                                    <div class="text-danger" *ngIf="lookupForm.get('lookupType').errors?.required">
                                        <!-- {{"PRODUCT_NAME_IS_REQUIRED" | translate}}. -->
                                        Lookup Type is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="text-danger">Value</label>
                                <input formControlName="value" class="form-control" type="text">
                                <div *ngIf="lookupForm.get('value').touched && lookupForm.get('value').errors">
                                    <div class="text-danger" *ngIf="lookupForm.get('value').errors?.required">
                                        <!-- {{"PRODUCT_NAME_IS_REQUIRED" | translate}}. -->
                                        Value is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="text-danger">Value Int</label>
                                <input formControlName="valueInt" class="form-control" type="number">
                                <div *ngIf="lookupForm.get('valueInt').touched && lookupForm.get('valueInt').errors">
                                    <div class="text-danger" *ngIf="lookupForm.get('valueInt').errors?.required">
                                        <!-- {{"PRODUCT_NAME_IS_REQUIRED" | translate}}. -->
                                        Value Int is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Is Enabled
                                <mat-checkbox color="primary" name="enabled" formControlName="isEnabled">
                                    <!-- {{'IS enabled' | translate}} -->
                                </mat-checkbox>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12 mt-2">
                <button *hasClaim="'MST_UPDATE_LOOKUP'" type="button" (click)="onSubmit()"
                    class="btn btn-success btn-sm m-right-10"><i class="fas fa-save"></i> {{"SAVE" |
                    translate}}</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="onCancel()"><i
                        class="fas fa-times-circle"></i>
                    <!-- {{"CANCEL" | translate}} -->
                    {{"Back" | translate}}
                </button>
            </div>
        </div>
    </form>