<div class="page-header-main mt-2">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>{{'DASHBOARD' | translate }}</h1>
      </div>
    </div>
  </div>
</div>

<app-statistics *hasClaim="'DB_STATISTICS'"></app-statistics>
<app-dashboard-status-chart *hasClaim="['DB_TEAMWISEGRAPH','DB_STATUSWISEGRAPH','DB_SOURCEWISECOUNT']"></app-dashboard-status-chart>
<!-- <app-best-selling-product *hasClaim="'DB_BEST_SELLING_PROS'"></app-best-selling-product> -->
<!-- <app-calender-view *hasClaim="'DB_REMINDERS'"></app-calender-view> -->
<!-- <app-latest-inquiry *hasClaim="'DB_LATEST_INQUIRIES'"></app-latest-inquiry> -->

<div class="row">
  <div class="col-md-6">
    <app-open-interaction-list *hasClaim="'DB_OPENSTATUS'"></app-open-interaction-list>
  </div>
  <div class="col-md-6">
    <app-pending-interaction-list *hasClaim="'DB_PENDINGSTATUS'"></app-pending-interaction-list>
  </div>
  <div class="col-md-6">
    <app-closed-interaction-list *hasClaim="'DB_CLOSEDSTATUS'"></app-closed-interaction-list>
  </div>
  
  <div class="col-md-6">
    <app-resolved-interaction-list *hasClaim="'DB_RESOLVESTATUS'"></app-resolved-interaction-list>
  </div>
  
  <div class="col-md-12">
    <!-- <app-sales-order-expected-shipment ></app-sales-order-expected-shipment> -->
  </div>
  
  <div class="col-md-6 mt-2" *hasClaim="'DB_TEAMWISELIST'">
    <div class="dashboard-table">
      <app-dashboard-teams-grid></app-dashboard-teams-grid>
    </div>
  </div>

  <div class="col-md-6 mt-2" *hasClaim="'DB_CATEGORYWISELIST'"  >
    <div class="dashboard-table">
      <app-dashboard-category-grid></app-dashboard-category-grid>
    </div>
  </div>
<div class="col-md-6 mt-2" *hasClaim="'DB_SOURCEWISELIST'">
    <div class="dashboard-table">
      <app-interaction-list-by-source></app-interaction-list-by-source>
    </div>
  </div>
<div class="col-md-6 mt-2" *hasClaim="'DB_USERWISELIST'">
    <div class="dashboard-table">
      <app-interaction-by-created-name></app-interaction-by-created-name>
    </div>
  </div>
  <div class="col-md-12 mt-2">
    <app-interaction-list-by-team *hasClaim="'DB_TEAMWISELIST'"></app-interaction-list-by-team>
  </div>

</div>