<div class="page-header-main mt-3">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>User Bulk Upload</h1>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3">
        <div class="fileUploadDiv">
            Select File : (<span class="text-danger">.xls OR .Xlss File Format Only</span> )
        </div>

    </div>
    <div class="col-md-2">
        <div class="fileUploadDiv">
            <input (change)="onFileSelect($event)" #fileInput name="xlxx file" type="file">
        </div>
    </div>
    <div class="col-md-7">
        <div class="fileUploadDiv">
            <button (click)="previewUploadedFile()" class="btn blue-btn btn-sm m-right-10"> Preview</button>
            <button type="button" *hasClaim="'USR_ADD_BULK_USER'" (click)="uploadFile()" class="btn blue-btn btn-sm m-right-10">Click For
                Updload Records
            </button>
            <button type="button" (click)="resetFiles()" class="btn blue-btn btn-sm m-right-10 mx-3">Reset</button>
            <a href="../../../assets/UserUpload.xlsx" download><button class="btn blue-btn btn-sm m-right-10"> Download Template</button></a>
        </div>
    </div>
<div class="col-12 my-1" *ngIf="responceData">
   <span class="mt-1">Total Records = {{responceData?.totalRecords}}, </span>
   <span class="mt-1">Duplicate Records = {{responceData?.duplicateRecords}}, </span>
   <span class="mt-1">Fail Records = {{responceData?.failRecords}}, </span>
   <span class="mt-1">Update Records = {{responceData?.updateRecords}}</span>
</div>
<!-- *ngIf="previewFile" -->
    <div class="w-100 mt-3">
        <div class="page-header-main headerBackground">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-sm-auto col">
                    <div class="content-header">
                        <h1>Bulk User List</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="table-responsive">
                <div class="table table-bordered table-hover tableDiv">
                    <table mat-table [dir]="langDir" class="table table-bordered table-hover table-striped" [dataSource]="uploadedList"
                    matSort matSortActive="email">
                    <ng-container matColumnDef="email">
                        <th class="table-column-300" mat-header-cell *matHeaderCellDef > {{'EMAIL' | translate}}
                        </th>
                        <td class="table-column-300" mat-cell *matCellDef="let user">
                            <ng-container *ngIf="user.Email">
                                <a href="mailto:{{user.Email}}">{{user.Email}}</a>
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="userId">
                        <th class="table-column-200" mat-header-cell *matHeaderCellDef >User Id
                        </th>
                        <td class="table-column-200" mat-cell *matCellDef="let user"> {{user.UserName || '--'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                        <th class="table-column-200" mat-header-cell *matHeaderCellDef > {{'FIRST_NAME' | translate}}
                        </th>
                        <td class="table-column-200" mat-cell *matCellDef="let user"> {{user.FirstName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="role">
                        <th class="table-column-200" mat-header-cell *matHeaderCellDef >User Role
                        </th>
                        <td class="table-column-200" mat-cell *matCellDef="let user"> {{user?.RoleName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                        <th class="table-column-200" mat-header-cell *matHeaderCellDef > {{'LAST_NAME' | translate}}
                        </th>
                        <td class="table-column-200" mat-cell *matCellDef="let user"> {{user.LastName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="phoneNumber">
                        <th class="table-column-200" mat-header-cell *matHeaderCellDef > {{'PHONE_NUMBER' |
                            translate}} </th>
                        <td class="table-column-200" mat-cell *matCellDef="let user"> {{user.PhoneNumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="MaxAssignInteraction">
                        <th class="table-column-200" mat-header-cell *matHeaderCellDef > Max Interactions</th>
                        <td class="table-column-200" mat-cell *matCellDef="let user"> {{user.MaxAssignInteraction}} </td>
                    </ng-container>
                    <ng-container matColumnDef="password">
                        <th class="table-column-200" mat-header-cell *matHeaderCellDef >Password</th>
                        <td class="table-column-200" mat-cell *matCellDef="let user"> {{user.Password}} </td>
                    </ng-container>
                    
                    <!-- <tr *matNoDataRow>
                        <td colspan="9">
                            <span class="p-4 mt-4">
                                <b> {{'NO_DATA_FOUND' | translate}}</b>
                            </span>
                        </td>
                    </tr> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>